Checks: 'readability-identifier-naming'
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ConstantMemberSuffix # idk why i need this when i have MemberSuffix but oh well
    value: '_'
  - key: readability-identifier-naming.MemberSuffix
    value: '_'
