# CAN interface
SUBSYSTEM=="tty", ATTRS{idVendor}=="16d0", SYMLINK+="CAN-SERIAL-LINK"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", SYMLINK+="pi-pico%n"
